@-webkit-keyframes breath {
  0% { background-size: 10% auto }
  50% { background-size: 20% auto }
  100% { background-size: 30% auto }
}
.app-container {
  display: flex;
  flex-direction: column;
}

.invitation-card {
  object-fit: contain;
  max-height: 90vh;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.location-link {
  color: #df8363;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}
